/*  ============================================
    Performers Display 
    ============================================ */

.card .performers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.performers .performer-group {
    padding: var(--spacing-sm);
    text-align: center;
    width: 100%;
    
}

.performers .performer-group:not(:last-child) {
    border-right: solid 2px var(--color-border);
}

.performer-group .group-name {
    padding-bottom: var(--spacing-2xs);

}

.performers .group-name {
    font-weight: bold;
}

/*  ============================================
    MOBILE DISPLAY 
    ============================================ */

@media (max-width: 400px) {
    .card .performers {
        flex-direction: column;
    }

    .performers .performer-group:not(:last-child) {
        border-right: none;
        border-bottom: solid 2px var(--color-border);
    }
}