* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    /* Add fallback hex colors */
    --color-black-darkest: #0d0d0d;
    --color-black-darkest-hsl: hsl(0, 0%, 5%);
    --color-black-dark: #171717;
    --color-black-dark-hsl: hsl(0, 0%, 9%);
    --color-black-base: #212121;
    --color-black-base-hsl: hsl(0, 0%, 13%);
    --color-black-light: #2b2b2b;
    --color-black-light-hsl: hsl(0, 0%, 17%);
    --color-black-lightest: #353535;
    --color-black-lightest-hsl: hsl(0, 0%, 21%);

    --color-white-darkest: #999999;
    --color-white-darkest-hsl: hsl(0, 0%, 60%);
    --color-white-dark: #b3b3b3;
    --color-white-dark-hsl: hsl(0, 0%, 70%);
    --color-white-base: #cccccc;
    --color-white-base-hsl: hsl(0, 0%, 80%);
    --color-white-light: #e6e6e6;
    --color-white-light-hsl: hsl(0, 0%, 90%);
    --color-white-lightest: #ffffff;
    --color-white-lightest-hsl: hsl(0, 0%, 100%);

    --color-primary-darkest: #8533ad;
    --color-primary-darkest-hsl: hsl(275, 60%, 47%);
    --color-primary-dark: #9540bd;
    --color-primary-dark-hsl: hsl(275, 60%, 52%);
    --color-primary-base: #a557c7;
    --color-primary-base-hsl: hsl(275, 60%, 57%);
    --color-primary-light: #b56ed1;
    --color-primary-light-hsl: hsl(275, 60%, 62%);
    --color-primary-lightest: #c585db;
    --color-primary-lightest-hsl: hsl(275, 60%, 67%);

    --color-free: #4CAF50;
    --color-maybe: #FFC107;
    --color-busy: #F44336;

    --color-text-primary: var(--color-white-lightest);
    --color-text-muted: var(--color-white-darkest);

    /* MAIN USED COLORS */
    --color-background: var(--color-black-darkest);
    --color-card: var(--color-black-dark);
    --color-input: var(--color-black-base);
    --color-border: var(--color-black-light);
    --color-highlight: var(--color-black-lightest);

    /* Typography */
    --font-family-primary: 'Barlow', 'sans-serif';
    --font-family-secondary: "Barlow", 'sans-serif';

    --typography-body-largest: 1.4rem / 1.5em var(--font-family-primary);
    --typography-body-large: 1.2rem / 1.5em var(--font-family-primary);
    --typography-body-base: 1.0rem / 1.5em var(--font-family-primary);
    --typography-body-small: 0.8rem / 1.5em var(--font-family-primary);
    --typography-body-smallest: 0.6rem / 1.5em var(--font-family-primary);
    --typography-heading-large: 600 2rem/1.2em var(--font-family-secondary);
    --typography-heading-medium: 600 1.75rem/ 1.2em var(--font-family-secondary);
    --typography-heading-small: 600 1.5rem/ 1.2em var(--font-family-secondary);
    --typography-heading-smallest: 600 1.15rem/ 1.2em var(--font-family-secondary);
    --typography-title: 600 3rem/1.2em var(--font-family-secondary);

    /* Spacing Scale */
    --spacing-2xs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 64px;
    --spacing-4xl: 96px;
    --spacing-5xl: 192px;

    --mobile-width: 800px;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-wrap: balance;
    font: var(--typography-body-base);
    color: var(--color-text-primary);
    background: var(--color-background);
    max-width: 1400px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

#performance-form {
    display: block;
    width: 100%;
    padding: var(--spacing-xl) var(--spacing-lg);
}

/*  ============================================
    NAME FIELDS 
    ============================================ */


.name-container {
    margin-bottom: var(--spacing-xl);
}

.name-container h3 {
    margin-bottom: var(--spacing-xs);
}

.name-container input {
    height: 36px;
    background-color: var(--color-input);
    border: solid 2px var(--color-border);
    border-radius: 4px;
    color: var(--color-text-primary);
    padding: 0 var(--spacing-sm);
    width: min(100%, 200px);
}

/*  ============================================
    CARDS CONTENT 
    ============================================ */


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    justify-content: center;
    margin-bottom: var(--spacing-xl);
}

.card {
    background-color: var(--color-card);
    border: 2px solid var(--color-border);
    width: 300px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.card .header {
    min-height: 25%;
    border-bottom: solid 2px var(--color-border);
    padding: var(--spacing-md);
}

.card .header h2 {
    margin-bottom: var(--spacing-xs);
}

.card .header h3 {
    color: var(--color-text-muted);
}

.card .details {
    padding: var(--spacing-md);
    border-bottom: solid 2px var(--color-border);
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.key {
    font-weight: 600;
    color: var(--color-text-muted);
}

.value {
    text-align: right;
    color: var(--color-text-primary);
}

.card .options {
    display: flex;
    min-height: 48px;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--spacing-md);
}

/* General styles */
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.option p {
    margin: 0;
    font-weight: 500;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    height: 24px;
    width: 24px;
    border: 2px solid var(--color-highlight);
    border-radius: 4px;
    transition: all 0.3s;
    background-color: var(--color-input);
}

.checkbox-container input:checked~.checkmark-free {
    background-color: var(--color-free);
}

.checkbox-container input:checked~.checkmark-maybe {
    background-color: var(--color-maybe);
}

.checkbox-container input:checked~.checkmark-busy {
    background-color: var(--color-busy);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/*  ============================================
    SUBMIT FIELDS 
    ============================================ */

.submit-container .submit-btn {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-base);
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary-base);
    padding: 12px 24px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    cursor: pointer;
}

.submit-container .submit-btn:hover {
    background-color: var(--color-primary-base);
    color: var(--color-text-primary);
}

.submit-container .submit-btn:active {
    background-color: var(--color-primary-light);
}

@media (max-width: 600px) {

    #performance-form {
        align-items: center;
        flex-direction: column;
        padding: var(--spacing-xl) var(--spacing-md);
    }
}

@media (max-width: 400px) {
    .card {
        width: 240px;
    }
}